<html>
<head>
    <title>Wordament solver</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>

<div id="Content">
    <div id="GridSection">
        <table id="GridTable">
            {% for row in range(0, grid_size) %}
            <tr>
                {% for col in range(0, grid_size) %}
                <td xrow="{{ row }}" xcol="{{ col }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="ResultsSection">
    </div>
</div>

<script type="text/javascript">
    var initialGrid = '{{ initial_grid or ''}}';
</script>

<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/globals.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
</body>
</html>